body {
    background: crimson;
    text-align: center;
}

h1 {
    font-size: 5rem;
    text-align: center;
    margin-top: 2rem;
}

p {
    font-size: 2rem;
    margin-top: 3rem;
}

img {
    width: 400px;
    margin: 3rem;
}